body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 86px;
    height: 45px;
  }

  .loader div {
    position: absolute;
    top: 0px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #0b00a2;
  }

  .loader div:nth-child(1) {
        left: 0px;
    }
.loader div:nth-child(2) {
        left: 11px;
    }
.loader div:nth-child(3) {
        left: 22px;
    }
.loader div:nth-child(4) {
        left: 33px;
    }
.loader div:nth-child(5) {
        left: 44px;
    }
.loader div:nth-child(6) {
        left: 55px;
    }
.loader div:nth-child(7) {
        left: 66px;
    }
.loader div:nth-child(8) {
        left: 77px;
    }

